# **Variable**

In [34]:
nama = 'Sasuke'
umur = '25'

In [35]:
nama

'Sasuke'

In [36]:
type(nama)

str

In [37]:
umur

'25'

In [38]:
umur = 25

In [39]:
type(umur)

int

In [40]:
jomblo = True

In [41]:
type(jomblo)

bool

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

ANSWER 1
Variable `Nama` dan `NIM`

In [1]:
nama = 'Jaka Dwi P'
nim = '201440018'

In [2]:
nama

'Jaka Dwi P'

In [3]:
nim

'201440018'

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

# **Arithmetic Operation**

In [45]:
a = 10
b = 5

a + b

15

In [46]:
c = a + b

In [47]:
c

15

c = c + 1

In [48]:
c += 1

In [49]:
c

16

In [50]:
c -= 5

In [51]:
c

11

In [52]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

800
2.0
60
20
0
1600

### Case 3

Konversi perhitungan **Luas** dan **Keliling** balok menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://rumusrumus.com/wp-content/uploads/2015/05/jawaban-soal-matematika-balok.png)

In [53]:
panjang = 500
lebar = 5
tinggi = 10

In [54]:
Keliling = 4 *(panjang + lebar + tinggi)
Keliling

2060

In [55]:
a = panjang * lebar
b = panjang * tinggi
c = lebar * tinggi
d = a+b+c

Luas = 2*d
Luas

15100

### Case 4

Konversi perhitungan luas dan keliling yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama masing-masing file `volume.py` dan `keliling.py`!

# **Tuple**

In [56]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [57]:
tup1[1]

'chemistry'

# **List**

In [58]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",list2 * 2)
print("Join two list: ", list1 + list2, "\n")

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [59]:
list1[1] = 'math'

In [60]:
list1[1]

'math'

In [61]:
list1

['physics', 'math', 1997, 2000]

Tupple:

In [62]:
#tup1[1] = 'math'

In [63]:
tup1[1]

'chemistry'

In [64]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

### JAWABAN CASE 5
Tuple merupakan kumpulan elemen data yang tidak bisa diubah urutannya, sementara list dapat diubah urutan elemen datanya. Dengan itu, dalam penggunaannya juga tuple tidak memiliki fungsi perintah sebagaimana list. Namun, ada cara untuk mengubah data tuple sebagaimana dalam Aliefa Exam 1 (berlaku jika jumlah data tidak besar).

## Jaka Exam 1

In [5]:
tup3 = ('physics', 'chemistry', 1997, 2000)

index_to_change = 2
new_value = 1000
new_tuple = tup3[:index_to_change] + (new_value,) + tup3[index_to_change + 1:]

new_tuple

('physics', 'chemistry', 1000, 2000)

# **String**

In [7]:
g = 'Jaka pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

19
['Jaka', 'pergi', 'ke', 'pasar']
jaka pergi ke pasar
JAKA PERGI KE PASAR

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split menjadi sebuah list kemudian print juga yang versi List!

In [8]:
kalimat = "Selamat pagi, nama saya Jaka. Teman-teman memanggilku Jack. Usiaku 21 tahun. Salam kenal"
kalimat

'Selamat pagi, nama saya Jaka. Teman-teman memanggilku Jack. Usiaku 21 tahun. Salam kenal'

In [9]:
kalimat.split(" ")

['Selamat',
 'pagi,',
 'nama',
 'saya',
 'Jaka.',
 'Teman-teman',
 'memanggilku',
 'Jack.',
 'Usiaku',
 '21',
 'tahun.',
 'Salam',
 'kenal']

In [10]:
len(kalimat.split("."))

4

In [11]:
list_kalimat=kalimat.split(".")
list_kalimat

['Selamat pagi, nama saya Jaka',
 ' Teman-teman memanggilku Jack',
 ' Usiaku 21 tahun',
 ' Salam kenal']

### **Convert String to Number**

In [12]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [15]:
kalimat = "Selamat pagi, nama saya Jaka. Teman-teman memanggilku Jack. Usiaku 21 tahun. Salam kenal"
kalimat1 = kalimat.split(" ")
kalimat1

['Selamat',
 'pagi,',
 'nama',
 'saya',
 'Jaka.',
 'Teman-teman',
 'memanggilku',
 'Jack.',
 'Usiaku',
 '21',
 'tahun.',
 'Salam',
 'kenal']

In [16]:
for indeks, kata in enumerate(kalimat1):
    print(f"Indeks kata '{kata}': {indeks}")

Indeks kata 'Selamat': 0
Indeks kata 'pagi,': 1
Indeks kata 'nama': 2
Indeks kata 'saya': 3
Indeks kata 'Jaka.': 4
Indeks kata 'Teman-teman': 5
Indeks kata 'memanggilku': 6
Indeks kata 'Jack.': 7
Indeks kata 'Usiaku': 8
Indeks kata '21': 9
Indeks kata 'tahun.': 10
Indeks kata 'Salam': 11
Indeks kata 'kenal': 12

In [23]:
type(kalimat1[10])

str

In [28]:
kalimat1[10] = int(kalimat1[10])

ValueError: invalid literal for int() with base 10: 'tahun.'

In [20]:
kalimat1

['Selamat',
 'pagi,',
 'nama',
 'saya',
 'Jaka.',
 'Teman-teman',
 'memanggilku',
 'Jack.',
 'Usiaku',
 '21',
 'tahun.',
 'Salam',
 'kenal']

In [21]:
type(kalimat1[10])

str

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

# **Math Module**

In [85]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

6
7
6
7

### Case 9

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module_example`!

### JAWABAN CASE 9
Pythagoras

In [89]:
AB = 12
BC = 5

AC= math.sqrt((AB**2)+(BC**2))
AC

13.0

# **Dictionary**

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [90]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

Print dictionary on dict1['one']:  This is one
Print dictionary on dict1[2]:  This is two
Print dictionary on dict1:  {'one': 'This is one', 2: 'This is two'}
Print dictionary on tinydict:  {'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}
Print tinydict dictionary keys:  dict_keys(['name', 'code', 'dept'])
Print tinydict dictionary values:  dict_values(['john', 6734, {'pos': 'engineering'}])

In [91]:
dict1

{'one': 'This is one', 2: 'This is two'}

In [94]:
tinydict

{'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary dan print di jupyter notebook, Contoh:

```
{
    'nama': 'Jaka Dwi P',
    'nim': 201440018,
}
```

In [39]:
dict2 = {}
dict2.update(dict2)
dict2['nama'] = 'Jaka Dwi P'
dict2

{'nama': 'Jaka Dwi P'}

In [34]:
dict2['nim'] = '2221100025'
dict2

{'nim': '2221100025'}

Lakukan penambahan key dan value dengan urutan sebagai berikut:
+ `'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'`
+ `'usia': 17`

In [35]:
dict2['alamat'] = 'jl. Madara no. 10, Konohagakure, Hi no Kuni'
dict2

{'nim': '2221100025', 'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'}

In [36]:
dict2['usia'] = '17 Tahun'
dict2

{'nim': '2221100025',
 'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni',
 'usia': '17 Tahun'}

Lakukan penggantian setiap value sesuai dengan data diri masing2!

In [37]:
dict3 = {}
dict2.update(dict3)
dict3['nama'] = 'Jaka Dwi P'
dict3['nim'] = '201440018'
dict3['alamat'] = 'Cepu, Jawa Tengah'
dict3 ['usia'] = '21 Tahun'
dict3

{'nama': 'Jaka Dwi P',
 'nim': '201440018',
 'alamat': 'Cepu, Jawa Tengah',
 'usia': '21 Tahun'}